html,
body {
  height: 100%;
  margin: 0;
  background: rgba(47, 47, 50, 1);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #ffffff;
  font-size: 25px;
}

canvas {
  background-color: #ba21ff;
  border-radius: 5px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}
